*{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    }
    
    
    h1{
        color: brown;
       
    
    }
    h2{
        color: green;
    }
    .text-box{
        width: 90%;
        position: absolute;
        top:32%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    
    }
    
    .text-box h1{
        font-size: 62px;
        
    }
    
    .text-box p{
    margin:10px o 40px;
    font-size:14px;
    }
    
    
    #hq{
        color: purple;
        border: 1px solid;
        
    }
    .cc{
        background-color: peru;
        text-align: left;
    }
    .dd{
        background-color: oldlace;
    }
    .ee{
        background-color: rgb(250, 216, 175);
    }
    .font-style{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 300;
        font-style: oblique;
        text-decoration: underline;
        text-align: center;
    }
    .centre{
        text-align: center;
        font-size: 30px;
    }
    
    .spacing{
        letter-spacing: 20px;
    
    }
    
    body{
        margin: 1%;
        border:2px solid black;
        min-height: 100vh;
        /* width: 100%; */
        background-image: url("/bodybg.jpeg");
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }
    
    nav{
        display: flex;
        padding: 2% 6%;
        justify-content: center;
    }
    nav img{
        width:150px;
    }
    .nav-links{
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: black;
        text-decoration: none;
        font-size: 15px;
    
    }
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: rgb(253, 253, 253);
        display: block;
        margin: auto;
        transition:0.5s;
    
    }
    .nav-links ul li:hover::after{
        width:100%;
    }
    .page{
        text-decoration: none;
        display: inline-block;
        color: rgb(68, 44, 44);
        border:1px solid rgb(63, 46, 46);
        padding: 12px, 34px;
        font-size: medium;
        background: transparent;
        position: relative;
        cursor: pointer; }
    
    .page:hover{
        border: 1px solid rgb(210, 105, 30);
        background: rgb(210, 105, 30) ;
        transition: 0.5s;
    
    }
    nav .fa{
        display: none;
    }
    
    
    @media(max-width: 700px)
    {
    .text-box h1{
        font-size:20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: absolute;
        background: rgb(210, 105, 30);
        height: 100vh;
        width:200px;
        top: 0;
        right:0px;
        text-align: left;
    
    
    }
     nav.fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
     }
     .nav-links ul{
        padding:30px;
        
     }
     .row{
        flex-direction: column;
     }
    
    }
    
    .blogs{
        position:relative;
        margin-top: 800px;
        background-color: white;
        text-align: center;
    }
    h1{
        font-size:36px;
        font-weight: 600;
        
    
    }
    p{
        color:black;
        font-size: 14px;
        font-weight:300;
        line-height: 22px;
        padding:10px;
    
    }
    
    .row{
        margin-top: 5%;
        display:flex;
        justify-content: space-between;
    
    }
    
    .food{
        flex-basis: 98%;
        background: rgb(224, 183, 183);
        border-radius: 10px;
        margin-bottom:5%;
        padding:20px 12px;
        box-sizing: border-box;
        margin-left:10px;
    
    }
    .food:hover{
        box-shadow: 0 0 20px 0 rgb(5, 5, 5);
        transition: 0.5sec;
    }
    .books{
        flex-basis: 98%;
        background: rgb(145, 88, 88);
        border-radius: 10px;
        margin-bottom:5%;
        padding:20px 12px;
        box-sizing: border-box;
    
    }
    .books:hover{
        box-shadow: 0 0 20px 0 rgb(5, 5, 5);
        transition: 0.5sec;
    }
    
    .travel{
        flex-basis: 98%;
        background: rgb(248, 224, 224);
        border-radius: 10px;
        margin-bottom:5%;
        padding:20px 12px;
        box-sizing: border-box;
        margin-left:10px;
    
    }
    .travel:hover{
        box-shadow: 0 0 20px 0 rgb(5, 5, 5);
        transition: 0.5sec;
    }
    
    
    h3{
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
        color: brown;
    
    }
    
    /*-----famous----*/
    
    .trip{
        position: absolute;
        width:80%;
        margin-left:80px;
        text-align: center;
        padding-top: 20px;
        
    
    }
    
    .trip-col{
        flex-basis: 32%;
        border-radius: 10px;
        margin-bottom:30px;
        position: relative;
        overflow: hidden;
    
    
    }
    
    .trip-col img{
        width:100%;
        display: block;
        margin: 10px;
    }
    
    .layer{
        background: rgba(13, 13, 13, 0.7);
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        transition: 0.3sec;
        margin: 10px;
        
    }
    .layer:hover{
        background:transparent;
      
    
    
    }

    .layer h3{
        width: 100%;
        font-weight: 500;
        color: rgb(124, 29, 29);
        font-size:26px ;
        bottom:0 ;
        left:50%;
        transform: translateX(-50%);
        position:absolute;
        opacity: 0;
        transition: 0.5s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        
    }
    .layer:hover h3{
        bottom: 49%;
        opacity:1;
    }

    /*contact css*/
 
    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px;  
        border: 1px solid rgb(17, 1, 1); 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical;
    }
      
      
      input[type=submit] {
        background-color: maroon;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
    
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
    
    
    .title{
        text-align: center;
        text-decoration: none;

    }
    
   /*----types of coffee---*/
   
   dl{
    border: black;
   }
   .align{
    border-style: solid;
    width: fit-content;
    padding:10px;
    height: max-content;
    align-items: center;
   margin: 10px; 
   border-radius: 10%;
    
   }
   .align >img{
    border-radius: 50%;
   }
.align:hover{

}
.all{
    display: flex;
 
}

.border{
    border: 3px solid red;
    margin:10%
}


.full{
    display:flex;
}
.flex{
    margin:2%;
    width:20%;
    padding: 2%;
    border-radius: 50%;
}