<div style = "text-align:center;border:solid 1px; padding:1px; color:#fff; background-color: grey;" appHover >
  <h1> Shri Madhwa Vadiraja Institue Of Technology</h1>
</div>
<div class="para" appBackground>
  <h3 id = "about">About</h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsam totam voluptatibus, atque esse rerum. Optio quo doloribus, aliquam repellat earum suscipit possimus eveniet neque esse iure dolores aspernatur quis.
    Consequuntur qui eum nobis, totam ad ipsa optio atque unde nisi quidem asperiores est quod blanditiis laudantium minus iste quia, velit cupiditate architecto ipsum quaerat debitis eveniet praesentium? Animi, laudantium!
    Ab similique iste eveniet pariatur temporibus reprehenderit at, velit, aperiam ducimus mollitia iusto aliquam ad tempore quasi libero eius molestiae culpa consectetur earum magni ratione illum voluptas sunt perspiciatis! Aliquid!
    Molestias sit obcaecati debitis aliquam dolores similique rem, quas deserunt distinctio ipsam vitae quia nostrum fugit dignissimos reiciendis autem itaque nulla commodi! Fugiat sunt voluptas nulla illo cupiditate, eaque deleniti.
    Atque sint dolore ipsam quia aperiam consequatur alias magnam delectus mollitia nam recusandae cum totam magni ullam ea libero sapiente distinctio at ratione, nemo facilis officia sunt doloribus debitis. Libero.
  </p>
</div>

<button ><a routerLink ="/student" [queryParams]="{collegename : 'SMVITM'}">Founders </a>  </button>
<button><a routerLink="/domain" > Domain</a></button>
<button><a routerLink="/admission-form" > Admission Form</a></button>
<router-outlet></router-outlet>
